# Navigation
public net.minecraft.world.level.pathfinder.Path nodes
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation getSurfaceY()I
public net.minecraft.world.entity.ai.navigation.WaterBoundPathNavigation allowBreaching